# Data Description
- Background: 本資料呈現各縣市各月份的犯罪狀況
- date received: 2025-10-31
- Path to data file: `/fa-25-econ-5166-group-4/data/raw/`
- Unit of observation: city-month，每一筆資料是「每個縣市在各個月份的犯罪資料」
- Sample period: 2002-2024
- Known issues:
    - 因應2010年臺中、臺南、高雄縣市合併，以及2013年桃園縣市合併，此資料已經將該時間點以前的資料合併成一個縣市
- Definition for each variable: 
    - `date`：識別用日期（每個月的第一天）
    - `year`：年份
    - `month`：月份
    - `city_code`：識別用縣市代碼
    - `city`：城市名稱
    - `theft_cases`：竊盜發生件數
    - `traffic_accident_cases`：駕駛過失發生件數
    - `alcohol_drive_cases`：酒駕發生件數
    - `general_injury_cases`：一般傷害發生件數
    - `total_crime_exclude_traffic`：刑案總件數(不含駕駛過失)
    - `sexual_assault_cases`：刑案總件數(不含駕駛過失)
    - `violent_crime_cases`：暴力犯罪發生件數
    - `drug_cases`：毒品犯罪發生件數

In [1]:
import pandas as pd

## Change for Your Own Data

In [3]:
input_data_file = "/Users/windkuo1017/Desktop/NTU_local/fa-25-econ-5166-group-4/data/raw/02-crime.xlsx"

## Summary

In [4]:
df = pd.read_excel(input_data_file)

### Sample

In [5]:
df.head(10)

,date,year,month,city,theft_cases,traffic_accident_cases,alcohol_drive_cases,general_injury_cases,total_crime_exclude_traffic,sexual_assault_cases,violent_crime_cases,drug_cases
0,2011-10-01,2011,10,南投縣,187.0,13.0,122.0,26.0,570.0,11.0,12.0,96.0
1,2011-10-01,2011,10,嘉義市,134.0,6.0,72.0,11.0,371.0,3.0,4.0,43.0
2,2011-10-01,2011,10,嘉義縣,145.0,31.0,86.0,34.0,479.0,6.0,3.0,74.0
3,2011-10-01,2011,10,基隆市,147.0,13.0,61.0,24.0,489.0,6.0,11.0,148.0
4,2011-10-01,2011,10,宜蘭縣,135.0,29.0,104.0,19.0,425.0,10.0,3.0,50.0
5,2011-10-01,2011,10,屏東縣,261.0,28.0,133.0,23.0,834.0,21.0,17.0,204.0
6,2011-10-01,2011,10,彰化縣,325.0,41.0,173.0,61.0,1047.0,24.0,4.0,170.0
7,2011-10-01,2011,10,新北市,1699.0,228.0,984.0,287.0,5525.0,52.0,79.0,671.0
8,2011-10-01,2011,10,新竹市,169.0,22.0,99.0,26.0,430.0,4.0,4.0,42.0
9,2011-10-01,2011,10,新竹縣,175.0,32.0,106.0,19.0,513.0,13.0,13.0,64.0

### Summary Stats

In [6]:
df.describe()

,date,year,month,theft_cases,traffic_accident_cases,alcohol_drive_cases,general_injury_cases,total_crime_exclude_traffic,sexual_assault_cases,violent_crime_cases,drug_cases
count,6072,6072.000000,6072.000000,5957.000000,5510.000000,5903.000000,5890.000000,6061.000000,5571.000000,5108.000000,5770.000000
mean,2013-06-16 07:49:33.913043456,2013.000000,6.500000,534.546584,50.086388,169.102321,46.802886,1321.623494,15.416083,23.133320,172.842808
min,2002-01-01 00:00:00,2002.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2007-09-23 12:00:00,2007.000000,3.750000,76.000000,8.000000,44.000000,13.000000,396.000000,6.000000,3.000000,52.000000
50%,2013-06-16 00:00:00,2013.000000,6.500000,202.000000,20.000000,98.000000,24.000000,625.000000,10.000000,7.000000,101.000000
75%,2019-03-08 18:00:00,2019.000000,9.250000,518.000000,49.000000,227.500000,51.000000,1776.000000,21.000000,19.250000,247.000000
max,2024-12-01 00:00:00,2024.000000,12.000000,6688.000000,635.000000,1466.000000,596.000000,10678.000000,542.000000,335.000000,1368.000000
std,NaN,6.633796,3.452337,915.300388,73.244547,187.493614,57.875529,1602.700806,16.233361,42.296927,177.019115